{% extends 'base.html' %}

{% block content %}
<div class="bg-dark-gold w-100 flex flex-row pl-10">
    <a href="#gov_area">
        <p class="light-gold p-2">Governor</p>
    </a>
    <p class="light-gold p-2">leg</p>
    <a href="#bird_area">
        <p class="light-gold p-2">Bird</p>
    </a>
</div>
<div class="w-100 mt-5">
    <div class="contianer flex justify-center ">
        <h1 class="text-2xl font-sans text-center border-b-2 w-10/12 ">{{ state_data.name }}</h1>
    </div>
    <div class="container w-10/12 flex justify-center">
        <div class="bg-dark-blue w-8/12 rounded-md pl-4 py-4 mt-3 ">
            <div class="flex justify-around">
                <p class="light-blue">State Capital: </p>
                <p class="light-blue">{{ state_data.capital }}</p>
            </div>
            <div class="flex justify-around">
                <p class="light-blue">State Bird: </p>
                <p class="light-blue">{{ state_data.bird }}</p>
            </div>
            <div class="flex justify-around">
                <p class="light-blue">State Flower: </p>
                <p class="light-blue">{{ state_data.flower }}</p>
            </div>
            <div class="flex justify-around">
                <p class="light-blue">Land Area: </p>
                <p class="light-blue">{{ state_data.land_area }}</p>
            </div>
            <div class="flex justify-around">
                <p class="light-blue">State Population: </p>
                <p class="light-blue">{{ state_data.population }}</p>
            </div>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="w-40 bg-dark-green m-5 p-3 rounded-md">
            <p class="light-blue">
                {{ state_data.name }} is the {{ state_data.land_area_rank }} biggest state
            </p>

        </div>
        <div class="w-40 bg-dark-green m-5 p-3 rounded-md">
            <p class="light-blue">
                {{ state_data.name }} is the {{ state_data.pop_rank }} most populated state
            </p>
        </div>
    </div>
    <div class="container w-9/12 h-96">
        <script>
            function stateMap() {
                const advancedMarkers = document.querySelectorAll("#marker-click-event-example gmp-advanced-marker");
                for (const advancedMarker of advancedMarkers) {
                    customElements.whenDefined(advancedMarker.localName).then(async () => {
                        advancedMarker.addEventListener('gmp-click', async () => {
                            const { InfoWindow } = await google.maps.importLibrary("maps");
                            const infoWindow = new InfoWindow({
                                content: advancedMarker.title
                            });
                            infoWindow.open({
                                anchor: advancedMarker
                            });
                        });
                    });
                }
            }
        </script>

        <gmp-map id="marker-click-event-example" center="{{ state_data.lat }},{{ state_data.lon }}" zoom="6"
            map-id="DEMO_MAP_ID">
            <gmp-advanced-marker position="{{ state_data.lat }},{{ state_data.lon }}"
                title="{{state_data.capital}}"></gmp-advanced-marker>
        </gmp-map>
    </div>
    <div class="container mt-4">

        <!-- start gov section -->
        <div class="container text-center bg-dark-gold py-3" id="gov_area">
            <h1 class="text-2xl light-gold">Gov {{ state_data.governor }}</h1>
        </div>
        <div class="flex justify-center">
            {% if state_data.gov_party == 'Republican' %}
            <div class="bg-dark-red p-3 m-4 rounded-md">
                {% elif state_data.gov_party == 'Democratic' %}
                <div class="bg-dark-blue p-3 m-4 rounded-md">
                    {% else %}
                    <div class="bg-dark-green p-3 m-4 rounded-md">
                        {% endif %}
                        <p class="light-blue pb-2">First Elected to Office: {{ gov_data.terms }}</p>
                        <p class="light-blue pb-2">Date of Birth: {{ gov_data.birthdate }}</p>
                        <p class="light-blue pb-2">State Born: {{ gov_data.birth_state }}</p>
                        <p class="light-blue pb-2">Education: {{ gov_data.school }}</p>
                        <p class="light-blue">Party Affiliation: {{ state_data.gov_party }}</p>
                    </div>
                    <div class="w-1/5">
                        <img src="{{ state_data.gov_img }}" class="rounded-md m-4"
                            alt="headshot of {{ state_data.governor }}">
                    </div>
                </div>
                <div class="container flex justify-center">
                    <div class="w-8/12">
                        <h3 class="pb-3 text-xl">Bio</h3>
                        {% for i in gov_data.bio %}
                        <p class="pb-2">{{ i }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="bg-dark-green">
                <p class="p-3 light-gold">Note: Governor term start, birthdate, birth state, education, bio, and image
                    taken from: <a href="https://www.nga.org/governors/"
                        class="underline">https://www.nga.org/governors/</a></p>
            </div>
            <!-- start bird section -->
            <div class="container my-4 flex justify-center">
                <div id="bird_area" class="w-8/12">
                    <div class="bg-dark-gold flex justify-center py-2">
                        <h3 class="light-gold text-2xl text-center ">{{ state_data.bird }}</h3>
                    </div>
                    <div class="">
                        <p>The {{ state_data.name }} {{ state_data.bird }} (Scientific Name: {{ bird_data.scientific_name }}) has been recorded at {{ bird_data.loc_count }} location(s)
                            in the past two days with a total of {{ bird_data.bird_count }} bird(s) 
                            recorded
                        </p>
                    </div>
                </div>

                <div class="container w-9/12 h-96">
                    <script>
                        function birdMap() {
                            const advancedMarkers = document.querySelectorAll("#bird-map gmp-advanced-marker");
                            for (const advancedMarker of advancedMarkers) {
                                customElements.whenDefined(advancedMarker.localName).then(async () => {
                                    advancedMarker.addEventListener('gmp-click', async () => {
                                        const { InfoWindow } = await google.maps.importLibrary("maps");
                                        const infoWindow = new InfoWindow({
                                            content: advancedMarker.title
                                        });
                                        infoWindow.open({
                                            anchor: advancedMarker
                                        });
                                    });
                                });
                            }
                        }
                    </script>
            
                    <gmp-map id="bird-map" center="{{ state_data.lat }},{{ state_data.lon }}" zoom="6"
                        map-id="DEMO_MAP_ID">
                        {% if bird_data.loc_count > 0 %}
                            {% for k,v in bird_data.loc_dict.items() %}
                                <gmp-advanced-marker position="{{ v.lat }},{{ v.lon }}">
                                </gmp-advanced-marker>
                            {% endfor %}
                        {% endif %}
                    </gmp-map>
                </div>
            </div>
            <!-- end bird -->
        </div>
    </div>
        {% endblock %}