{% extends 'base.html' %}

{% block content %}
<div class="contianer w-100 mt-5">
    <div>
        <h4 class="text-lg font-sans text-center">{{ state_data.name }}</h4>
        <p>TODO: scrape wiki header paragraph</p>
    </div>
    <div class="flex justify-center">
        <div class="w-40 bg-amber-200 mx-5">
            <p>
                {{ state_data.name }} is the {{ state_data.land_area_rank }} biggest state
            </p>
            
        </div>
        <div class="w-40 bg-amber-200 mx-5">
            <p>
                {{ state_data.name }} is the {{ state_data.pop_rank }} most populated state
            </p>        
        </div>
    </div>
    <div class="w-9/12 h-96 bg-slate-400">
        <script>
        function stateMap() {
            const advancedMarkers = document.querySelectorAll("#marker-click-event-example gmp-advanced-marker");
            for (const advancedMarker of advancedMarkers) {
              customElements.whenDefined(advancedMarker.localName).then(async () => {
                advancedMarker.addEventListener('gmp-click', async () => {
                  const {InfoWindow} = await google.maps.importLibrary("maps");
                  const infoWindow = new InfoWindow({
                    content: advancedMarker.title
                  });
                  infoWindow.open({
                    anchor: advancedMarker
                  });
                });
              });
            }
          }
      </script>

        <gmp-map id="marker-click-event-example" center="{{ state_data.lat }},{{ state_data.lon }}" zoom="6" map-id="DEMO_MAP_ID">
                <gmp-advanced-marker position="{{ state_data.lat }},{{ state_data.lon }}" title="{{state_data.capital}}"></gmp-advanced-marker>
        </gmp-map>
    </div>
</div>


{% endblock %}