{% extends 'base.html' %} 

{% block content %}

<script type="text/javascript"
src="{{ url_for('static', filename='scripts.js') }}"></script>

<!-- starting main div wrapper -->
<div class="container w-11/12 mt-7">

<!-- state list and map area -->
    <div class="flex flex-row container">
        <div class="w-3/12 bg-gray-100 pl-4 py-2 h-96 overflow-scroll">
            <ul>
                {% for k,v in full_state_dictionary.items() %}
                <li id="{{ v['name'] }}" onclick="">
                    {{ v['name'] }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="w-9/12">
            <script>
                function initMap() {
            
                  const advancedMarkers = document.querySelectorAll("#marker-click-event-example gmp-advanced-marker");
                  for (const advancedMarker of advancedMarkers) {
                    customElements.whenDefined(advancedMarker.localName).then(async () => {
                      advancedMarker.addEventListener('gmp-click', async () => {
                        const {InfoWindow} = await google.maps.importLibrary("maps");
                        const infoWindow = new InfoWindow({
                          content: advancedMarker.title
                        });
                        infoWindow.open({
                          anchor: advancedMarker
                        });
                      });
                    });
                  }
                }

            </script>


            <gmp-map id="marker-click-event-example" center="40.808075,-96.699654" zoom="4" map-id="DEMO_MAP_ID">
                {% for k,v in full_state_dictionary.items() %}
                    <gmp-advanced-marker position="{{ v['lat'] }},{{ v['lon'] }}" title="{{v['capital']}}, {{ v['name'] }}"></gmp-advanced-marker>
                {% endfor %}
            </gmp-map>
        </div>
    </div>

</div>

<div class="w-11/12 mt-5">
    <div class="container flex flex-row">

        <!-- start land area scroll -->
        <div class="w-5/12 mx-5">
            <div class="border-b-2 mb-1 border-blue-800">
                <p class="text-lg font-sans text-center">
                    States by Size
                </p>
            </div>
            <input type="text" class="border rounded border-gray-400 mb-2" id="state_size" onkeyup="stateLandSearch()" placeholder="Search for a state">
            
            <div class="h-96 overflow-scroll">
                <table id="land-area" class="table-style table-sort">
                    <tr class="">
                        <th class="text-white table-header" onclick="sortTable1()">State Name</th>
                        <th class="text-white">Land Area</th>
                    </tr>

                    {% for k,v in full_state_dictionary.items() %}
                    <tr>
                        <td>
                            <p class="state-name">{{ v['name'] }}</p>
                        </td>
                        <td>
                            <p>{{ v['land_area'] }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>     
            </div>
        </div>
        <!-- end land area scroll -->

        <!-- start population scroll -->
        <div class="w-5/12 mx-5">
            <div class="border-b-2 mb-1 border-blue-800">
                <p class="text-lg font-sans text-center">
                    States by Population
                </p>
            </div>
            <input type="text" class="border rounded border-gray-400 mb-2" id="state_size" onkeyup="statePopSearch()" placeholder="Search for a state">
            
            <div class="h-96 overflow-scroll">
                <table id="pop-area" class="table-style">
                    <tr class="">
                        <th class="text-white" onclick="sortPopTable(0)">State Name</th>
                        <th class="text-white">Population</th>
                    </tr>

                    {% for k,v in full_state_dictionary.items() %}
                    <tr>
                        <td>
                            <p class="state-name">{{ v['name'] }}</p>
                            
                        </td>
                        <td>
                            <p>{{ v['population'] }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <!-- end population scroll -->
    </div>
    

    <div class="container flex">
        <div class="w-5/12 h-96 overflow-scroll">
            <p>State Birds</p>
                {% for k,v in full_state_dictionary.items() %}
                <p>{{ v['name'] }}: {{ v['bird'] }}</p>
                {% endfor %}
        </div>
        <div class="w-5/12 h-96 overflow-scroll">
            <p>State Flower</p>
                {% for k,v in full_state_dictionary.items() %}
                <p>{{ v['name'] }}: {{ v['flower'] }}</p>
                {% endfor %}
        </div>
    </div>
</div>
<!-- ending main div wrapper -->
{% endblock %}

