{% extends 'base.html' %} 

{% block content %}

<script type="text/javascript"
src="{{ url_for('static', filename='scripts.js') }}"></script>

<!-- starting main div wrapper -->
<div class="container w-11/12 mt-7">

<!-- state list and map area -->
    <div class="flex flex-row container">
        <div class="w-3/12 bg-gray-100 pl-4 py-2 h-96 overflow-scroll">
            <ul>
                {% for k,v in full_state_dictionary.items() %}
                <li id="{{ v['name'] }}" onclick="">
                    {{ v['name'] }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="w-9/12">
            <script>
                function initMap() {
            
                  const advancedMarkers = document.querySelectorAll("#marker-click-event-example gmp-advanced-marker");
                  for (const advancedMarker of advancedMarkers) {
                    customElements.whenDefined(advancedMarker.localName).then(async () => {
                      advancedMarker.addEventListener('gmp-click', async () => {
                        const {InfoWindow} = await google.maps.importLibrary("maps");
                        const infoWindow = new InfoWindow({
                          content: advancedMarker.title
                        });
                        infoWindow.open({
                          anchor: advancedMarker
                        });
                      });
                    });
                  }
                }

            </script>
            <script>
                function myFunction() {
                    document.getElementById("test-area").style.backgroundColor = "red";
                }
            </script>

            <gmp-map id="marker-click-event-example" center="40.808075,-96.699654" zoom="4" map-id="DEMO_MAP_ID">
                {% for k,v in full_state_dictionary.items() %}
                    <gmp-advanced-marker position="{{ v['lat'] }},{{ v['lon'] }}" title="{{v['capital']}}, {{ v['name'] }}"></gmp-advanced-marker>
                {% endfor %}
            </gmp-map>
        </div>
    </div>

</div>

<div class=" container w-11/12 mt-5">
    <div class="container flex flex-row">

        <!-- start land area scroll -->
        <div class="w-12/12 mx-2">
            <div class="border-b-2 mb-1">
                <p class="text-lg font-sans text-center">
                    State Stats
                </p>
            </div>
            <!-- TODO: troubleshoot search bar -->
            <!-- <input type="text" class="border rounded border-gray-400 mb-2" id="state_search" onkeyup="stateSearch()" placeholder="Search for a state"> -->
            
            <div class="h-96 overflow-scroll">
                <table id="state-area" class="table-style table-sort">
                    <tr class="">
                        <th class="table-header" onclick="">State Name</th>
                        <th class="">Land Area</th>
                        <th class="">Population</th>
                        <th class="">Governor</th>
                        <th class="">State Flower</th>
                        <th class="">State Bird</th>
                    </tr>

                    {% for k,v in full_state_dictionary.items() %}
                    <tr>
                        <td class="state-name">{{ v['name'] }}</td>
                        <td>{{ v['land_area'] }}</td>
                        <td>
                            <p>{{ v['population'] }}</p>
                        </td>
                        <td>
                            <p>{{ v['governor'] }}</p>
                        </td>
                        <td>
                            <p>{{ v['flower'] }}</p>
                        </td>
                        <td>
                            <p>{{ v['bird'] }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>     
            </div>
        </div>
        <!-- end land area scroll -->

</div>
<!-- ending main div wrapper -->
{% endblock %}

